In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
train_features = pd.read_parquet('train_features.parquet')
test_features = pd.read_parquet('test_features.parquet')

In [8]:
# selected rows with na values
train_features[train_features.isna().any(axis=1)]

,img_red_mean_date1,img_green_mean_date1,img_blue_mean_date1,img_red_std_date1,img_green_std_date1,img_blue_std_date1,img_red_mean_date2,img_green_mean_date2,img_blue_mean_date2,img_red_std_date2,...,geo_River,geo_Snow,geo_Sparse Forest,interval_1_2,interval_2_3,interval_3_4,area,perimeter,x_centroid,y_centroid
495,0.000967,0.599861,1.482733,-1.063205,-0.232273,0.771926,-0.699438,-1.127774,-0.634743,0.211683,...,0,0,1,NaN,NaN,NaN,3.227104e-08,0.000725,72.804920,21.105813
931,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,1003.0,1737.0,1357.0,2.378248e-09,0.000196,72.822781,21.102971
932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,1003.0,1737.0,1357.0,1.854097e-09,0.000177,72.822874,21.102907
933,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,1003.0,1737.0,1357.0,8.276731e-10,0.000122,72.822774,21.102920
934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,1003.0,1737.0,1357.0,1.526022e-09,0.000159,72.822766,21.103020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,644.0,842.0,1219.0,4.552136e-08,0.000918,119.338448,32.409649
294906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,644.0,842.0,1219.0,5.349499e-08,0.001060,119.338082,32.409668
295149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,644.0,842.0,1219.0,2.259072e-08,0.000648,119.342918,32.409715
295448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,2196.0,1507.0,1006.0,3.273110e-08,0.000750,77.012801,28.403310
296140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1125.0,1521.0,821.0,9.287972e-09,0.000412,-109.730287,23.005720